.container {
    max-width: 720px;

    margin: 5rem auto;

    p {
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
        text-align: justify;
    }

    .postInfo {
        color: var(--info);
        font-size: 0.875rem;


        svg {
            margin-right: 0.5rem;
            stroke: var(--info);
        }

        span {
            margin-left: 1.5rem;
        }
    }
}
